@-webkit-keyframes textShadowPulse {
  from { text-shadow: 0 0 1px #a09479; }
  50% { text-shadow: 0 0 0px #e8be6b; }
  to { text-shadow: 0 0 1px #9a7a30; }
}


div {
  cursor: url("https://i.imgur.com/f55S1wO.png"), auto;
}

img {
  cursor: url("https://i.imgur.com/f55S1wO.png"), auto;
}

a{
  cursor: url("https://i.imgur.com/f55S1wO.png"), auto;
  display: flex;
  text-align: center;
  justify-content: center;
}

h1,h2,h3,h4,h5,h6 {
  color: #9a8866;
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}

body {
  font-family: "anonymous-pro",monospace;
  color: #777667;
  margin: 0;
  padding: 0;
  font-size: 6pt;
  line-height: 140%;
  background-repeat: repeat-x;
  background-size: 250px;
  background-position: left top;
  animation: colorchange 30s infinite;
  -webkit-animation: colorchange 30s infinite;
}



.root
{
  width: 100vw;
  height: 100vh;
}

.centered
{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.full-screen{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-screen img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.full-screen video{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.main-page-menu
{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-page-logo
{
  position: absolute;
  align-self: center;
  top: 15vh;
  width: 15vw;
}


.root-button
{
  position: absolute;
  align-self: center;
  top: 3vh;
  left: 4vw;
  width: 12vw;
}

.root-button:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.main-page-logo-upper
{
  position: absolute;
  align-self: center;
  top: 1em;
  left: 1em;
  width: 25em;
}

.main-page-buttons
{
  width: 40em;
  z-index: 1;
  opacity: 0.9;
}

.main-page-buttons:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.centeredA
{
  align-self: center;
}


.small-pic
{
  width: 20%;
}


.second-third
{
  display: none;
  grid-auto-flow: column;
  grid-auto-rows: auto;
  grid-column-gap: 0.5vw;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80vw;
}


.footer
{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #181818db;
  overflow: auto;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  bottom: 0;
  width: 100vw;
  height: 3vh;
}

.first-block
{
  display: grid;
  background-color: #181818db;
  border: 1px solid #080808;
  overflow: auto;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  width: 18vw;
  height: 30vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.second-block
{
  display: none;
  align-items: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #181818db;
  border: 1px solid #080808;
  overflow: auto;
  text-overflow: ellipsis;
  width: 15vw;
  height: 90vh;
}

.third-block
{
  display: none;
  align-self: center;
  flex-direction: column;
  background-color: #181818db;
  border: 1px solid #080808;
  width: 62vw;
  height: 90vh;
}

.third-block.title
{
  background-color: #181818db;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 62vw;
  height: 10vh;
  align-items: center;
}

.third-block.gif-block.pic
{
  width: 28vw;
  height: 18vw;
}

.third-block.gif-block
{
  background-color: #181818db;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 62vw;
  top: 6vh;
  overflow: hidden;
  white-space: nowrap;
  height: 84vh;
  align-items: center;
}

.page-blocks
{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 1vh;
}


.post-create
{
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  display: none;
  flex: none;
  background-color: #00182d;
  max-height: 5vh;
  min-height: 20vh;
  max-width: 16vw;
  min-width: 16vw;
  height: 10vh;
  position: relative;
  align-self: center;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  line-height: 4vh;
  margin-left: 1px;
  margin-right: 1vw;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.flex-container {
  border-radius:10px;
  box-shadow: 0 0 10px rgba(197, 229, 234, 0.4);
  display: -webkit-flex;
  display: flex;
  flex: 0 1 auto;
  background-color: #000000;
  width:20vw;
  height: 80vh;
  position: absolute;
  top: 15vh;
  left: 4vw;
  flex-direction: column;
  justify-content: space-around;
}

.theme {
  box-shadow: 0 0 10px rgba(197, 229, 234, 0.2);
  display: -webkit-flex;
  display: flex;
  flex: none;
  background-color: #00182d;
  width: 16vw;
  max-height: 5vh;
  min-height: 5vh;
  max-width: 16vw;
  min-width: 16vw;
  height: 10vh;
  position: relative;
  align-self: center;
  justify-content: flex-start;
  align-items: center;
  line-height: 4vh;
  margin-left: 1px;
  margin-right: 1vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

button{
  cursor: url("https://i.imgur.com/HLnQ3vb.png"), auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #9a8866;
  background-color: #00000000;
  font-size: 1.4em;
  border-radius: 10px;
  border-color: rgba(255,255,255,0);
  border-bottom-color: #181818eb;
  border-width: 1px;
}

button:hover{
  color: black;
  background: #9a8866;
}


theme.button,button,input.button {
}

.block-left
{
  border-radius:10px;
  box-shadow: 0 0 10px rgba(197, 229, 234, 0.8);
  background-color: #000000;
  width:20vw;
  height: 80vh;
  position: absolute;
  display: flex;
  top: 15vh;
  left: 4vw;
  flex-direction: column;
  justify-content: space-around;
}

.login-block
{
  border-radius:10px;
  width:70vw;
  height: 70vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}


.profile-pic
{
  border-radius:10px;
  position: absolute;
  max-width: 20vw;
  max-height: 10vh;
  top: 15vh;
  right: 2vw;
  min-width: 20vw;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.profBlock
{
  position: absolute;
  max-width: 20vw;
  max-height: 37vh;
  top: 15vh;
  right: 2vw;
  min-width: 20vw;
  min-height: 37vh;
  border-radius:10px;
  box-shadow: 0 0 10px rgba(197, 229, 234, 0.4);
  background-color: black;

}

.profile
{
  border-radius:10px;
  position: absolute;
  max-width: 20vw;
  max-height: 28vh;
  top: 24vh;
  right: 2vw;
  min-width: 20vw;
  min-height: 28vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mar
{
  margin-left: 1vw;
  margin-right: 1vw;
}

.marName
{
  font-size: 3em;
  margin-left: 1vw;
  margin-right: 1vw;
}

.block-right-name
{
  box-shadow: 0 0 10px rgba(197, 229, 234, 0.4);
  background-color: #000b0e;
  position: absolute;
  width:50vw;
  height: 10vh;
  top: 15vh;
  right: 24vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 4em;
}

::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.block-right
{
  box-shadow: 0 0 10px rgba(197, 229, 234, 0.4);
  background-color: black;
  position: absolute;
  width:50vw;
  height: 70vh;
  top: 25vh;
  right: 24vw;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#loading {
  background-color:rgba(11, 19, 25, 0.95);position:absolute;width:100%;height:100%;top:0;left:0;z-index:99999;
}
@keyframes colorchange {
  0%   {background-color: #413d34;}
  25%   {background-color: #000000;}
  50%  {background-color: #26201a;}
  75%	{background-color: #413d34;}
  100% {background-color: #111010;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */ {
  0%   {background-color: #413d34;}
  25%   {background-color: #000000;}
  50%  {background-color: #26201a;}
  75%	{background-color: #413d34;}
  100% {background-color: #111010;}
}

#container > * {
  position:relative;
}
#container {
  margin-left: 0;
}
#container.open {
  margin-left: -300px;
}

p{
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* LINKS */
a:link,a:visited {
  color: #E0E0E0;
  text-decoration: none;
  text-shadow: none;
}
a:hover {
  color: inherit;
}
h1,h2,h3,h4,h5,h6.nolink {
  -webkit-animation-name: textShadowPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}



@media (max-width: 540px) {


  button{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    color: #9a8866;
    background-color: #00000000;
    font-size: 1.4em;
    border-radius: 10px;
    border-color: rgba(255,255,255,0);
    border-bottom-color: #181818eb;
    border-width: 1px;
    overflow: inherit;
    min-height: 7vh;
    max-height: 9vh;
    min-width: 15vw;
  }



  .first-block
  {
    display: grid;
    background-color: #181818db;
    border: 1px solid #080808;
    width: 18vw;
    height: 50vh;
  }



  .second-block
  {
    display: none;
    justify-content: flex-start;
    grid-auto-flow: column;
    grid-auto-rows: auto;
    grid-column-gap: 0.5vw;
    background-color: #181818db;
    border: 1px solid #080808;
    width: 78vw;
    max-width: 78vw;
    height: 7vh;
  }

  .third-block
  {
    display: none;
    flex-direction: column;
    background-color: #181818db;
    border: 0.5px solid #080808;
    width: 78vw;
    height: 60vh;
  }

  .third-block.title
  {
    background-color: #181818db;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 78vw;
    height: 10vh;
    align-items: center;
  }

  .third-block.gif-block.pic
  {
    width: 50vw;
    height: 33vw;
  }


  .third-block.gif-block
  {
    background-color: #181818db;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 78vw;
    top: 26vh;
    height: 50vh;
    align-items: center;
  }

  .second-third
  {
    display: none;
    align-self: flex-start;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-column-gap: 0.5vw;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 80vh;
  }

  .footer
  {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #181818db;
    overflow: auto;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    bottom: 0;
    width: 100vw;
    height: 5vh;
  }



}
